includes/schema/vcd_movies.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT alt_title EMPTY>
<!ELEMENT biography EMPTY>
<!ELEMENT cast EMPTY>
<!ELEMENT category (#PCDATA)>
<!ELEMENT category_id (#PCDATA)>
<!ELEMENT cds (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT dateadded (#PCDATA)>
<!ELEMENT director EMPTY>
<!ELEMENT external_id EMPTY>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT homepage (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT imdb (imdb_id, title, alt_title, image, year, plot, director, cast, rating, runtime, country, genre)>
<!ELEMENT imdb_id (#PCDATA)>
<!ELEMENT mediatype (#PCDATA)>
<!ELEMENT mediatype_id (#PCDATA)>
<!ELEMENT movie (id, title, category, category_id, year, cds, mediatype, mediatype_id, dateadded, sourcesite_id, external_id, imdb?, pornstars?)>
<!ELEMENT movie_count (#PCDATA)>
<!ELEMENT movies (movie+)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT plot EMPTY>
<!ELEMENT pornstar (id, name, homepage, image, biography, movie_count)>
<!ELEMENT pornstars (pornstar+)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT runtime (#PCDATA)>
<!ELEMENT sourcesite_id EMPTY>
<!ELEMENT title (#PCDATA)>
<!ELEMENT year (#PCDATA)>
