includes/wsdl/vcddb-user.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<definitions name="http://vcddb.konni.com" 
	targetNamespace="urn:http://vcddb.konni.com" 
	xmlns:typens="urn:http://vcddb.konni.com" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:http://vcddb.konni.com">
		<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 		<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
			<xsd:complexType name="ArrayOfString">
			  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="string[]"/>
				   </xsd:restriction>
			</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="userPropertiesObj">
				<xsd:all>
					<xsd:element name="property_description" type="xsd:string"/>
					<xsd:element name="property_id" type="xsd:decimal"/>
					<xsd:element name="property_name" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfUserPropertiesObj">
				  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:userPropertiesObj[]"/>
				   </xsd:restriction>
				  </xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="userObj">
				<xsd:all>
					<xsd:element name="dateCreated" type="xsd:dateTime"/>
					<xsd:element name="email" type="xsd:string"/>
					<xsd:element name="fullname" type="xsd:string"/>
					<xsd:element name="isDeleted" type="xsd:boolean"/>
					<xsd:element name="isDirectoryUser" type="xsd:boolean"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element name="role_description" type="xsd:string"/>
					<xsd:element name="role_id" type="xsd:decimal"/>
					<xsd:element name="role_name" type="xsd:string"/>
					<xsd:element name="user_id" type="xsd:decimal"/>
					<xsd:element name="username" type="xsd:string"/>
					<xsd:element name="userPropertiesArr" type="typens:ArrayOfUserPropertiesObj"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfUserUserObj">
				  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:userObj[]"/>
				   </xsd:restriction>
				  </xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="userRoleObj">
				<xsd:all>
					<xsd:element name="role_description" type="xsd:string"/>
					<xsd:element name="role_id" type="xsd:decimal"/>
					<xsd:element name="role_name" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfUserUserRoleObj">
				  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:userRoleObj[]"/>
				   </xsd:restriction>
				  </xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="addProperty">
		<part name="obj" type="typens:userPropertiesObj"/>
	</message>
	<message name="addPropertyResponse">
		<part name="addPropertyReturn"/>
	</message>
	<message name="addPropertyToUser">
		<part name="property_id" type="xsd:decimal"/>
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="addPropertyToUserResponse">
		<part name="addPropertyToUserReturn"/>
	</message>
	<message name="addSession">
		<part name="session_id" type="xsd:string"/>
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="addSessionResponse">
		<part name="addSessionReturn"/>
	</message>
	<message name="addUser">
		<part name="userObj" type="typens:userObj"/>
	</message>
	<message name="addUserResponse">
		<part name="addUserReturn" type="xsd:boolean"/>
	</message>
	<message name="deleteProperty">
		<part name="property_id" type="xsd:decimal"/>
	</message>
	<message name="deletePropertyResponse">
		<part name="deletePropertyReturn"/>
	</message>
	<message name="deletePropertyOnUser">
		<part name="property_id" type="xsd:decimal"/>
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="deletePropertyOnUserResponse">
		<part name="deletePropertyOnUserReturn"/>
	</message>
	<message name="deleteUser">
		<part name="user_id" type="xsd:decimal"/>
		<part name="erase_data" type="xsd:decimal"/>
	</message>
	<message name="deleteUserResponse">
		<part name="deleteUserReturn"/>
	</message>
	<message name="deleteUserRole">
		<part name="role_id" type="xsd:decimal"/>
	</message>
	<message name="deleteUserRoleResponse">
		<part name="deleteUserRoleReturn" type="xsd:boolean"/>
	</message>
	<message name="getActiveUsers"/>
	<message name="getActiveUsersResponse">
		<part name="getActiveUsersReturn" type="typens:ArrayOfUserUserObj"/>
	</message>
	<message name="getAllProperties"/>
	<message name="getAllPropertiesResponse">
		<part name="getAllPropertiesReturn" type="typens:ArrayOfUserPropertiesObj"/>
	</message>
	<message name="getAllUserRoles"/>
	<message name="getAllUserRolesResponse">
		<part name="getAllUserRolesReturn" type="typens:ArrayOfUserUserRoleObj"/>
	</message>
	<message name="getAllUsers"/>
	<message name="getAllUsersResponse">
		<part name="getAllUsersReturn" type="typens:ArrayOfUserUserObj"/>
	</message>
	<message name="getAllUsersInRole">
		<part name="role_id" type="xsd:decimal"/>
	</message>
	<message name="getAllUsersInRoleResponse">
		<part name="getAllUsersInRoleReturn" type="typens:ArrayOfUserUserObj"/>
	</message>
	<message name="getAllUsersWithProperty">
		<part name="property_id" type="xsd:decimal"/>
	</message>
	<message name="getAllUsersWithPropertyResponse">
		<part name="getAllUsersWithPropertyReturn" type="typens:ArrayOfUserUserObj"/>
	</message>
	<message name="getDefaultRole"/>
	<message name="getDefaultRoleResponse">
		<part name="getDefaultRoleReturn" type="typens:userRoleObj"/>
	</message>
	<message name="getPropertyById">
		<part name="property_id" type="xsd:decimal"/>
	</message>
	<message name="getPropertyByIdResponse">
		<part name="getPropertyByIdReturn" type="typens:userPropertiesObj"/>
	</message>
	<message name="getPropertyByKey">
		<part name="property_key" type="xsd:string"/>
	</message>
	<message name="getPropertyByKeyResponse">
		<part name="getPropertyByKeyReturn" type="typens:userPropertiesObj"/>
	</message>
	<message name="getUserByID">
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="getUserByIDResponse">
		<part name="getUserByIDReturn" type="typens:userObj"/>
	</message>
	<message name="getUserByUsername">
		<part name="user_name" type="xsd:string"/>
	</message>
	<message name="getUserByUsernameResponse">
		<part name="getUserByUsernameReturn" type="typens:userObj"/>
	</message>
	<message name="getUserTopList"/>
	<message name="getUserTopListResponse">
		<part name="getUserTopListReturn" type="typens:ArrayOfString"/>
	</message>
	<message name="isValidSession">
		<part name="session_id" type="xsd:string"/>
		<part name="session_time" type="xsd:string"/>
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="isValidSessionResponse">
		<part name="isValidSessionReturn" type="xsd:boolean"/>
	</message>
	<message name="setDefaultRole">
		<part name="role_id" type="xsd:decimal"/>
	</message>
	<message name="setDefaultRoleResponse">
		<part name="setDefaultRoleReturn"/>
	</message>
	<message name="updateProperty">
		<part name="obj" type="typens:userPropertiesObj"/>
	</message>
	<message name="updatePropertyResponse">
		<part name="updatePropertyReturn"/>
	</message>
	<message name="updateUser">
		<part name="userObj" type="typens:userObj"/>
	</message>
	<message name="updateUserResponse">
		<part name="updateUserReturn" type="xsd:boolean"/>
	</message>
	<portType name="UserServicesPortType">
		<operation name="addProperty">
			<documentation>
				Add new userProperty object to VCD-db.
			</documentation>
			<input message="typens:addProperty"/>
			<output message="typens:addPropertyResponse"/>
		</operation>
		<operation name="addPropertyToUser">
			<documentation>
				Add new userProperty to a specific user.
			</documentation>
			<input message="typens:addPropertyToUser"/>
			<output message="typens:addPropertyToUserResponse"/>
		</operation>
		<operation name="addSession">
			<documentation>
				Store the users session after user has requested to be remembered during login.
			</documentation>
			<input message="typens:addSession"/>
			<output message="typens:addSessionResponse"/>
		</operation>
		<operation name="addUser">
			<documentation>
				Add new User to VCD-db, returns true on success otherwise false
			</documentation>
			<input message="typens:addUser"/>
			<output message="typens:addUserResponse"/>
		</operation>
		<operation name="deleteProperty">
			<documentation>
				Delete a specific user Property object.
			</documentation>
			<input message="typens:deleteProperty"/>
			<output message="typens:deletePropertyResponse"/>
		</operation>
		<operation name="deletePropertyOnUser">
			<documentation>
				Remove specific property from the selected User.
			</documentation>
			<output message="typens:deletePropertyOnUserResponse"/>
		</operation>
		<operation name="deleteUser">
			<documentation>
				Delete User
			</documentation>
			<input message="typens:deleteUser"/>
			<output message="typens:deleteUserResponse"/>
		</operation>
		<operation name="deleteUserRole">
			<documentation>
				Delete a specific user role, error is thrown is some user/s is still using this role.
			</documentation>
			<input message="typens:deleteUserRole"/>
			<output message="typens:deleteUserRoleResponse"/>
		</operation>
		<operation name="getActiveUsers">
			<documentation>
				Get all users that have added a movie to VCD-db, return array of User objects
			</documentation>
			<input message="typens:getActiveUsers"/>
			<output message="typens:getActiveUsersResponse"/>
		</operation>
		<operation name="getAllProperties">
			<documentation>
				Get all user properties in VCD-db.
			</documentation>
			<input message="typens:getAllProperties"/>
			<output message="typens:getAllPropertiesResponse"/>
		</operation>
		<operation name="getAllUserRoles">
			<documentation>
				Get all user roles in VCD-db.
			</documentation>
			<input message="typens:getAllUserRoles"/>
			<output message="typens:getAllUserRolesResponse"/>
		</operation>
		<operation name="getAllUsers">
			<documentation>
				Get all Users in VCD-db, returns array of User objects
			</documentation>
			<input message="typens:getAllUsers"/>
			<output message="typens:getAllUsersResponse"/>
		</operation>
		<operation name="getAllUsersInRole">
			<documentation>
				Get all users in specific role.
			</documentation>
			<input message="typens:getAllUsersInRole"/>
			<output message="typens:getAllUsersInRoleResponse"/>
		</operation>
		<operation name="getAllUsersWithProperty">
			<documentation>
				Get all users that are associated to a a specific userProperty, returns array of User objects.
			</documentation>
			<input message="typens:getAllUsersWithProperty"/>
			<output message="typens:getAllUsersWithPropertyResponse"/>
		</operation>
		<operation name="getDefaultRole">
			<documentation>
				Get the default role assigned to new users that are created/registered in VCD-db.
			</documentation>
			<input message="typens:getDefaultRole"/>
			<output message="typens:getDefaultRoleResponse"/>
		</operation>
		<operation name="getPropertyById">
			<documentation>
				Get specific userProperties object by ID.
			</documentation>
			<input message="typens:getPropertyById"/>
			<output message="typens:getPropertyByIdResponse"/>
		</operation>
		<operation name="getPropertyByKey">
			<documentation>
				Get specific userProperty object by the property key.
			</documentation>
			<input message="typens:getPropertyByKey"/>
			<output message="typens:getPropertyByKeyResponse"/>
		</operation>
		<operation name="getUserByID">
			<documentation>
				Get user By ID
			</documentation>
			<input message="typens:getUserByID"/>
			<output message="typens:getUserByIDResponse"/>
		</operation>
		<operation name="getUserByUsername">
			<documentation>
				Get User by specific username
			</documentation>
			<input message="typens:getUserByUsername"/>
			<output message="typens:getUserByUsernameResponse"/>
		</operation>
		<operation name="getUserTopList">
			<documentation>
				Get the users with most movie count in database.
			</documentation>
			<input message="typens:getUserTopList"/>
			<output message="typens:getUserTopListResponse"/>
		</operation>
		<operation name="isValidSession">
			<documentation>
				Check if the specified session in valid for authentication.
			</documentation>
			<input message="typens:isValidSession"/>
			<output message="typens:isValidSessionResponse"/>
		</operation>
		<operation name="setDefaultRole">
			<documentation>
				Assign a specific role as a default role to new users.
			</documentation>
			<input message="typens:setDefaultRole"/>
			<output message="typens:setDefaultRoleResponse"/>
		</operation>
		<operation name="updateProperty">
			<documentation>
				Update specific userProperties object.
			</documentation>
			<input message="typens:updateProperty"/>
			<output message="typens:updatePropertyResponse"/>
		</operation>
		<operation name="updateUser">
			<documentation>
				Update User, return true on success otherwise false
			</documentation>
			<input message="typens:updateUser"/>
			<output message="typens:updateUserResponse"/>
		</operation>
	</portType>
	<binding name="UserServicesBinding" type="typens:UserServicesPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="addProperty">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addPropertyToUser">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addSession">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addUser">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteProperty">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletePropertyOnUser">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteUser">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteUserRole">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getActiveUsers">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllProperties">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllUserRoles">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllUsers">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllUsersInRole">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllUsersWithProperty">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getDefaultRole">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getPropertyById">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getPropertyByKey">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getUserByID">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getUserByUsername">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getUserTopList">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="isValidSession">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="setDefaultRole">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateProperty">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateUser">
			<soap:operation soapAction="urn:SoapUserServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="UserService">
		<port name="UserServicesPort" binding="typens:UserServicesBinding">
			<soap:address location="http://tempuri"/>
		</port>
	</service>
</definitions>
