includes/wsdl/vcddb-settings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:http://vcddb.konni.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:http://vcddb.konni.com" name="http://vcddb.konni.com">
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:http://vcddb.konni.com">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
			<xsd:complexType name="ArrayOfString">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfDecimal">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="decimal[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="borrowerObj">
				<xsd:all>
					<xsd:element name="email" type="xsd:string"/>
					<xsd:element name="id" type="xsd:decimal"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="owner_id" type="xsd:decimal"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfBorrowerObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:borrowerObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="commentObj">
				<xsd:all>
					<xsd:element name="comment" type="xsd:string"/>
					<xsd:element name="date" type="xsd:dateTime"/>
					<xsd:element name="id" type="xsd:decimal"/>
					<xsd:element name="isPrivate" type="xsd:boolean"/>
					<xsd:element name="owner_id" type="xsd:decimal"/>
					<xsd:element name="owner_name" type="xsd:string"/>
					<xsd:element name="vcd_id" type="xsd:decimal"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfCommentObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:commentObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="mediaTypeObj">
				<xsd:all>
					<xsd:element name="children" type="typens:ArrayOfMediaTypeObj"/>
					<xsd:element name="media_type_description" type="xsd:string"/>
					<xsd:element name="media_type_id" type="xsd:decimal"/>
					<xsd:element name="media_type_name" type="xsd:string"/>
					<xsd:element name="parent_id" type="xsd:decimal"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfMediaTypeObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:mediaTypeObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="metadataTypeObj">
				<xsd:all>
					<xsd:element name="desc" type="xsd:string"/>
					<xsd:element name="id" type="xsd:decimal"/>
					<xsd:element name="level" type="xsd:decimal"/>
					<xsd:element name="name" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfMetadataTypeObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:metadataTypeObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="movieCategoryObj">
				<xsd:all>
					<xsd:element name="category_count" type="xsd:decimal"/>
					<xsd:element name="category_id" type="xsd:decimal"/>
					<xsd:element name="category_name" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfMovieCategoryObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:movieCategoryObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="rssObj">
				<xsd:all>
					<xsd:element name="id" type="xsd:decimal"/>
					<xsd:element name="isSitefeed" type="xsd:boolean"/>
					<xsd:element name="isXrated" type="xsd:boolean"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="owner_id" type="xsd:decimal"/>
					<xsd:element name="url" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfMovieRssObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:rssObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="sourceSiteObj">
				<xsd:all>
					<xsd:element name="isFetchable" type="xsd:boolean"/>
					<xsd:element name="site_alias" type="xsd:string"/>
					<xsd:element name="site_classname" type="xsd:string"/>
					<xsd:element name="site_getCommand" type="xsd:string"/>
					<xsd:element name="site_homepage" type="xsd:string"/>
					<xsd:element name="site_id" type="xsd:decimal"/>
					<xsd:element name="site_image" type="xsd:string"/>
					<xsd:element name="site_name" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSourceSiteObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:sourceSiteObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="metadataObj">
				<xsd:all>
					<xsd:element name="mediatype_id" type="xsd:decimal"/>
					<xsd:element name="metadata_id" type="xsd:decimal"/>
					<xsd:element name="metadata_value" type="xsd:string"/>
					<xsd:element name="metatype_description" type="xsd:string"/>
					<xsd:element name="metatype_id" type="xsd:decimal"/>
					<xsd:element name="metatype_level" type="xsd:string"/>
					<xsd:element name="metatype_name" type="xsd:string"/>
					<xsd:element name="record_id" type="xsd:decimal"/>
					<xsd:element name="user_id" type="xsd:decimal"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfMetadataObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:metadataObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="settingsObj">
				<xsd:all>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="id" type="xsd:decimal"/>
					<xsd:element name="isProtected" type="xsd:boolean"/>
					<xsd:element name="key" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="value" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSettingsObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:settingsObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="statisticsObj">
				<xsd:all>
					<xsd:element name="ArrAllCats" type="typens:ArrayOfMovieCategoryObj"/>
					<xsd:element name="ArrMonthlyCats" type="typens:ArrayOfMovieCategoryObj"/>
					<xsd:element name="mostactive_users" type="xsd:string"/>
					<xsd:element name="movies_addedmonth" type="xsd:decimal"/>
					<xsd:element name="movies_addedtoday" type="xsd:decimal"/>
					<xsd:element name="movies_addedweek" type="xsd:decimal"/>
					<xsd:element name="total_covers" type="xsd:decimal"/>
					<xsd:element name="total_coversthismonth" type="xsd:decimal"/>
					<xsd:element name="total_coversthisweek" type="xsd:decimal"/>
					<xsd:element name="total_movies" type="xsd:decimal"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfStatisticsObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:statisticsObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="loanObj">
				<xsd:all>
					<xsd:element name="loan_id" type="xsd:decimal"/>
					<xsd:element name="cd_id" type="xsd:decimal"/>
					<xsd:element name="cd_title" type="xsd:string"/>
					<xsd:element name="borrowerObj" type="typens:borrowerObj"/>
					<xsd:element name="date_out" type="xsd:dateTime"/>
					<xsd:element name="date_in" type="xsd:dateTime"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfLoanObj">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:loanObj[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<message name="addBorrower">
		<part name="obj" type="typens:borrowerObj"/>
	</message>
	<message name="addBorrowerResponse"/>
	<message name="addComment">
		<part name="obj" type="typens:commentObj"/>
	</message>
	<message name="addCommentResponse"/>
	<message name="addMediaType">
		<part name="mediaTypeObj" type="typens:mediaTypeObj"/>
	</message>
	<message name="addMediaTypeResponse"/>
	<message name="addMetadata">
		<part name="arrObj" type="typens:ArrayOfMetadataObj"/>
	</message>
	<message name="addMetadataResponse"/>
	<message name="addMetadataType">
		<part name="obj" type="typens:metadataTypeObj"/>
	</message>
	<message name="addMetadataTypeResponse">
		<part name="addMetadataTypeReturn" type="typens:metadataTypeObj"/>
	</message>
	<message name="addMovieCategory">
		<part name="obj" type="typens:movieCategoryObj"/>
	</message>
	<message name="addMovieCategoryResponse"/>
	<message name="addRssfeed">
		<part name="obj" type="typens:rssObj"/>
	</message>
	<message name="addRssfeedResponse"/>
	<message name="addSettings">
		<part name="settings" type="typens:ArrayOfSettingsObj"/>
	</message>
	<message name="addSettingsResponse"/>
	<message name="addSourceSite">
		<part name="obj" type="typens:sourceSiteObj"/>
	</message>
	<message name="addSourceSiteResponse"/>
	<message name="addToWishList">
		<part name="vcd_id" type="xsd:decimal"/>
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="addToWishListResponse"/>
	<message name="deleteBorrower">
		<part name="obj" type="typens:borrowerObj"/>
	</message>
	<message name="deleteBorrowerResponse"/>
	<message name="deleteComment">
		<part name="comment_id" type="xsd:decimal"/>
	</message>
	<message name="deleteCommentResponse"/>
	<message name="deleteMediaType">
		<part name="mediatype_id" type="xsd:decimal"/>
	</message>
	<message name="deleteMediaTypeResponse">
		<part name="deleteMediaTypeReturn" type="xsd:boolean"/>
	</message>
	<message name="deleteMetadata">
		<part name="metadata_id" type="xsd:boolean"/>
	</message>
	<message name="deleteMetadataResponse"/>
	<message name="deleteMetaDataType">
		<part name="type_id" type="xsd:decimal"/>
	</message>
	<message name="deleteMetaDataTypeResponse"/>
	<message name="deleteMovieCategory">
		<part name="category_id" type="xsd:decimal"/>
	</message>
	<message name="deleteMovieCategoryResponse"/>
	<message name="deleteNFO">
		<part name="metadata_id" type="xsd:decimal"/>
	</message>
	<message name="deleteNFOResponse"/>
	<message name="deleteSettings">
		<part name="settings_id" type="xsd:decimal"/>
	</message>
	<message name="deleteSettingsResponse">
		<part name="deleteSettingsReturn" type="xsd:boolean"/>
	</message>
	<message name="deleteSourceSite">
		<part name="source_id" type="xsd:decimal"/>
	</message>
	<message name="deleteSourceSiteResponse"/>
	<message name="delFeed">
		<part name="feed_id" type="xsd:decimal"/>
	</message>
	<message name="delFeedResponse"/>
	<message name="getAllCommentsByUserID">
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="getAllCommentsByUserIDResponse">
		<part name="getAllCommentsByUserIDReturn" type="typens:ArrayOfCommentObj"/>
	</message>
	<message name="getAllCommentsByVCD">
		<part name="vcd_id" type="xsd:decimal"/>
	</message>
	<message name="getAllCommentsByVCDResponse">
		<part name="getAllCommentsByVCDReturn" type="typens:ArrayOfCommentObj"/>
	</message>
	<message name="getAllMediatypes"/>
	<message name="getAllMediatypesResponse">
		<part name="getAllMediatypesReturn" type="typens:ArrayOfMediaTypeObj"/>
	</message>
	<message name="getAllMovieCategories"/>
	<message name="getAllMovieCategoriesResponse">
		<part name="getAllMovieCategoriesReturn" type="typens:ArrayOfMovieCategoryObj"/>
	</message>
	<message name="getAllSettings"/>
	<message name="getAllSettingsResponse">
		<part name="getAllSettingsReturn" type="typens:ArrayOfSettingsObj"/>
	</message>
	<message name="getBorrowerByID">
		<part name="borrower_id" type="xsd:decimal"/>
	</message>
	<message name="getBorrowerByIDResponse">
		<part name="getBorrowerByIDReturn" type="typens:borrowerObj"/>
	</message>
	<message name="getBorrowersByUserID">
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="getBorrowersByUserIDResponse">
		<part name="getBorrowersByUserIDReturn" type="typens:ArrayOfBorrowerObj"/>
	</message>
	<message name="getCategoriesInUseByUserID">
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="getCategoriesInUseByUserIDResponse">
		<part name="getCategoriesInUseByUserIDReturn" type="typens:ArrayOfMovieCategoryObj"/>
	</message>
	<message name="getCategoryIDByName">
		<part name="name" type="xsd:string"/>
		<part name="localized" type="xsd:boolean"/>
	</message>
	<message name="getCategoryIDByNameResponse">
		<part name="getCategoryIDByNameReturn" type="xsd:string"/>
	</message>
	<message name="getCommentByID">
		<part name="comment_id" type="xsd:decimal"/>
	</message>
	<message name="getCommentByIDResponse">
		<part name="getCommentByIDReturn" type="typens:commentObj"/>
	</message>
	<message name="getLoans">
		<part name="user_id" type="xsd:decimal"/>
		<part name="show_returned" type="xsd:boolean"/>
	</message>
	<message name="getLoansResponse">
		<part name="getLoansReturn" type="typens:ArrayOfLoanObj"/>
	</message>
	<message name="getLoansByBorrowerID">
		<part name="user_id" type="xsd:decimal"/>
		<part name="borrower_id" type="xsd:decimal"/>
		<part name="show_returned" type="xsd:boolean"/>
	</message>
	<message name="getLoansByBorrowerIDResponse">
		<part name="getLoansByBorrowerIDReturn" type="typens:ArrayOfLoanObj"/>
	</message>
	<message name="getMediaCountByCategory">
		<part name="category_id" type="xsd:decimal"/>
	</message>
	<message name="getMediaCountByCategoryResponse">
		<part name="getMediaCountByCategoryReturn" type="typens:ArrayOfString"/>
	</message>
	<message name="getMediaCountByCategoryAndUserID">
		<part name="user_id" type="xsd:decimal"/>
		<part name="category_id" type="xsd:decimal"/>
	</message>
	<message name="getMediaCountByCategoryAndUserIDResponse">
		<part name="getMediaCountByCategoryAndUserIDReturn" type="typens:ArrayOfString"/>
	</message>
	<message name="getMediaTypeByID">
		<part name="media_id" type="xsd:decimal"/>
	</message>
	<message name="getMediaTypeByIDResponse">
		<part name="getMediaTypeByIDReturn" type="typens:mediaTypeObj"/>
	</message>
	<message name="getMediaTypeByName">
		<part name="name" type="xsd:string"/>
	</message>
	<message name="getMediaTypeByNameResponse">
		<part name="getMediaTypeByNameReturn" type="typens:mediaTypeObj"/>
	</message>
	<message name="getMediaTypesInUse"/>
	<message name="getMediaTypesInUseResponse">
		<part name="getMediaTypesInUseReturn" type="typens:ArrayOfMediaTypeObj"/>
	</message>
	<message name="getMediaTypesInUseByUserID">
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="getMediaTypesInUseByUserIDResponse">
		<part name="getMediaTypesInUseByUserIDReturn" type="typens:ArrayOfString"/>
	</message>
	<message name="getMediaTypesOnCD">
		<part name="vcd_id" type="xsd:decimal"/>
	</message>
	<message name="getMediaTypesOnCDResponse">
		<part name="getMediaTypesOnCDReturn" type="typens:ArrayOfMediaTypeObj"/>
	</message>
	<message name="getMetadata">
		<part name="record_id" type="xsd:decimal"/>
		<part name="user_id" type="xsd:decimal"/>
		<part name="metadata_name" type="xsd:string"/>
		<part name="mediatype_id" type="xsd:decimal"/>
	</message>
	<message name="getMetadataResponse">
		<part name="getMetadataReturn" type="typens:ArrayOfMetadataObj"/>
	</message>
	<message name="getMetadataById">
		<part name="metadata_id" type="xsd:decimal"/>
	</message>
	<message name="getMetadataByIdResponse">
		<part name="getMetadataByIdReturn" type="typens:metadataObj"/>
	</message>
	<message name="getMetadataTypes">
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="getMetadataTypesResponse">
		<part name="getMetadataTypesReturn" type="typens:ArrayOfMetadataTypeObj"/>
	</message>
	<message name="getMovieCategoriesInUse"/>
	<message name="getMovieCategoriesInUseResponse">
		<part name="getMovieCategoriesInUseReturn" type="typens:ArrayOfMovieCategoryObj"/>
	</message>
	<message name="getMovieCategoryByID">
		<part name="category_id" type="xsd:decimal"/>
	</message>
	<message name="getMovieCategoryByIDResponse">
		<part name="getMovieCategoryByIDReturn" type="typens:movieCategoryObj"/>
	</message>
	<message name="getRecordIDsByMetadata">
		<part name="user_id" type="xsd:decimal"/>
		<part name="metadata_name" type="xsd:string"/>
	</message>
	<message name="getRecordIDsByMetadataResponse">
		<part name="getRecordIDsByMetadataReturn" type="typens:ArrayOfDecimal"/>
	</message>
	<message name="getRssfeed">
		<part name="feed_id" type="xsd:decimal"/>
	</message>
	<message name="getRssfeedResponse">
		<part name="getRssfeedReturn" type="typens:rssObj"/>
	</message>
	<message name="getRssFeedsByUserId">
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="getRssFeedsByUserIdResponse">
		<part name="getRssFeedsByUserIdReturn" type="typens:ArrayOfMovieRssObj"/>
	</message>
	<message name="getSettingsByID">
		<part name="settings_id" type="xsd:decimal"/>
	</message>
	<message name="getSettingsByIDResponse">
		<part name="getSettingsByIDReturn" type="typens:settingsObj"/>
	</message>
	<message name="getSettingsByKey">
		<part name="key" type="xsd:string"/>
	</message>
	<message name="getSettingsByKeyResponse">
		<part name="getSettingsByKeyReturn" type="xsd:string"/>
	</message>
	<message name="getSourceSiteByAlias">
		<part name="alias" type="xsd:string"/>
	</message>
	<message name="getSourceSiteByAliasResponse">
		<part name="getSourceSiteByAliasReturn" type="typens:sourceSiteObj"/>
	</message>
	<message name="getSourceSiteByID">
		<part name="source_id" type="xsd:decimal"/>
	</message>
	<message name="getSourceSiteByIDResponse">
		<part name="getSourceSiteByIDReturn" type="typens:sourceSiteObj"/>
	</message>
	<message name="getSourceSites"/>
	<message name="getSourceSitesResponse">
		<part name="getSourceSitesReturn" type="typens:ArrayOfSourceSiteObj"/>
	</message>
	<message name="getStatsObj"/>
	<message name="getStatsObjResponse">
		<part name="getStatsObjReturn" type="typens:statisticsObj"/>
	</message>
	<message name="getUserStatistics">
		<part name="user_id" type="xsd:decimal"/>
		<part name="type" type="xsd:string"/>
	</message>
	<message name="getUserStatisticsResponse">
		<part name="getUserStatisticsReturn" type="typens:ArrayOfString"/>
	</message>
	<message name="getWishList">
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="getWishListResponse">
		<part name="getWishListReturn" type="typens:ArrayOfString"/>
	</message>
	<message name="isOnWishList">
		<part name="vcd_id" type="xsd:decimal"/>
	</message>
	<message name="isOnWishListResponse">
		<part name="isOnWishListReturn" type="xsd:boolean"/>
	</message>
	<message name="isPublicWishLists">
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="isPublicWishListsResponse">
		<part name="isPublicWishListsReturn" type="xsd:boolean"/>
	</message>
	<message name="loanCDs">
		<part name="borrower_id" type="xsd:decimal"/>
		<part name="arrMovieIDs" type="typens:ArrayOfDecimal"/>
	</message>
	<message name="loanCDsResponse"/>
	<message name="loanReturn">
		<part name="loan_id" type="xsd:decimal"/>
	</message>
	<message name="loanReturnResponse"/>
	<message name="removeFromWishList">
		<part name="vcd_id" type="xsd:decimal"/>
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="removeFromWishListResponse"/>
	<message name="updateBorrower">
		<part name="obj" type="typens:borrowerObj"/>
	</message>
	<message name="updateBorrowerResponse"/>
	<message name="updateMediaType">
		<part name="mediaTypeObj" type="typens:mediaTypeObj"/>
	</message>
	<message name="updateMediaTypeResponse"/>
	<message name="updateMetadata">
		<part name="obj" type="typens:metadataObj"/>
	</message>
	<message name="updateMetadataResponse"/>
	<message name="updateMovieCategory">
		<part name="obj" type="typens:movieCategoryObj"/>
	</message>
	<message name="updateMovieCategoryResponse"/>
	<message name="updateRssfeed">
		<part name="obj" type="typens:rssObj"/>
	</message>
	<message name="updateRssfeedResponse"/>
	<message name="updateSettings">
		<part name="obj" type="typens:settingsObj"/>
	</message>
	<message name="updateSettingsResponse"/>
	<message name="updateSourceSite">
		<part name="sourceSiteObj" type="typens:sourceSiteObj"/>
	</message>
	<message name="updateSourceSiteResponse"/>
	
	<message name="getCategoryIDByItemId">
		<part name="item_id" type="xsd:decimal"/>
	</message>
	<message name="getCategoryIDByItemIdResponse">
		<part name="getCategoryIDByItemIdReturn" type="xsd:decimal"/>
	</message>
	
	<portType name="SettingsServicesPortType">
		<documentation>
			Provide the Web UI access to the Settings Services.
		</documentation>
		<operation name="addBorrower">
			<documentation>
				Add new borrower to VCD-db.
			</documentation>
			<input message="typens:addBorrower"/>
			<output message="typens:addBorrowerResponse"/>
		</operation>
		<operation name="addComment">
			<documentation>
				Add a new comment.
			</documentation>
			<input message="typens:addComment"/>
			<output message="typens:addCommentResponse"/>
		</operation>
		<operation name="addMediaType">
			<documentation>
				Add new mediaType object to VCD-db.
			</documentation>
			<input message="typens:addMediaType"/>
			<output message="typens:addMediaTypeResponse"/>
		</operation>
		<operation name="addMetadata">
			<documentation>
				Add new medata object to VCD-db.
			</documentation>
			<input message="typens:addMetadata"/>
			<output message="typens:addMetadataResponse"/>
		</operation>
		<operation name="addMetadataType">
			<documentation>
				Add a new metadatatype object to the database, returns the same object with populated ID.
			</documentation>
			<input message="typens:addMetadataType"/>
			<output message="typens:addMetadataTypeResponse"/>
		</operation>
		<operation name="addMovieCategory">
			<documentation>
				Add new movieCategory object to VCD-db.
			</documentation>
			<input message="typens:addMovieCategory"/>
			<output message="typens:addMovieCategoryResponse"/>
		</operation>
		<operation name="addRssfeed">
			<documentation>
				Add new Rss Feed to VCD-db.
			</documentation>
			<input message="typens:addRssfeed"/>
			<output message="typens:addRssfeedResponse"/>
		</operation>
		<operation name="addSettings">
			<documentation>
				Add new settings object to VCD-db.
			</documentation>
			<input message="typens:addSettings"/>
			<output message="typens:addSettingsResponse"/>
		</operation>
		<operation name="addSourceSite">
			<documentation>
				Add new sourceSite object to VCD-db.
			</documentation>
			<input message="typens:addSourceSite"/>
			<output message="typens:addSourceSiteResponse"/>
		</operation>
		<operation name="addToWishList">
			<documentation>
				Add a movie to users wishlist.
			</documentation>
			<input message="typens:addToWishList"/>
			<output message="typens:addToWishListResponse"/>
		</operation>
		<operation name="deleteBorrower">
			<documentation>
				Delete a specific borrower object
			</documentation>
			<input message="typens:deleteBorrower"/>
			<output message="typens:deleteBorrowerResponse"/>
		</operation>
		<operation name="deleteComment">
			<documentation>
				Delete comment.
			</documentation>
			<input message="typens:deleteComment"/>
			<output message="typens:deleteCommentResponse"/>
		</operation>
		<operation name="deleteMediaType">
			<documentation>
				Delete a mediaType object from VCD-db.
			</documentation>
			<input message="typens:deleteMediaType"/>
			<output message="typens:deleteMediaTypeResponse"/>
		</operation>
		<operation name="deleteMetadata">
			<documentation>
				Delete a specific metadata.
			</documentation>
			<input message="typens:deleteMetadata"/>
			<output message="typens:deleteMetadataResponse"/>
		</operation>
		<operation name="deleteMetaDataType">
			<documentation>
				Delete a user defined metadata type
			</documentation>
			<input message="typens:deleteMetaDataType"/>
			<output message="typens:deleteMetaDataTypeResponse"/>
		</operation>
		<operation name="deleteMovieCategory">
			<documentation>
				Delete a movieCategory object from VCD-db.
			</documentation>
			<input message="typens:deleteMovieCategory"/>
			<output message="typens:deleteMovieCategoryResponse"/>
		</operation>
		<operation name="deleteNFO">
			<documentation>
				Delete NFO file
			</documentation>
			<input message="typens:deleteNFO"/>
			<output message="typens:deleteNFOResponse"/>
		</operation>
		<operation name="deleteSettings">
			<documentation>
				Delete specific settings object.
			</documentation>
			<input message="typens:deleteSettings"/>
			<output message="typens:deleteSettingsResponse"/>
		</operation>
		<operation name="deleteSourceSite">
			<documentation>
				Delete specific sourceSite object from VCD-db.
			</documentation>
			<input message="typens:deleteSourceSite"/>
			<output message="typens:deleteSourceSiteResponse"/>
		</operation>
		<operation name="delFeed">
			<documentation>
				Delete a specific Rss feed
			</documentation>
			<input message="typens:delFeed"/>
			<output message="typens:delFeedResponse"/>
		</operation>
		<operation name="getAllCommentsByUserID">
			<documentation>
				Get all comments by specific user ID, returns array of comment objects.
			</documentation>
			<input message="typens:getAllCommentsByUserID"/>
			<output message="typens:getAllCommentsByUserIDResponse"/>
		</operation>
		<operation name="getAllCommentsByVCD">
			<documentation>
				Get all comments that have been made on a specific movie.
			</documentation>
			<input message="typens:getAllCommentsByVCD"/>
			<output message="typens:getAllCommentsByVCDResponse"/>
		</operation>
		<operation name="getAllMediatypes">
			<documentation>
				Get all mediaType objects in VCD-db.
			</documentation>
			<input message="typens:getAllMediatypes"/>
			<output message="typens:getAllMediatypesResponse"/>
		</operation>
		<operation name="getAllMovieCategories">
			<documentation>
				Get all movieCategory objects available in VCD-db.
			</documentation>
			<input message="typens:getAllMovieCategories"/>
			<output message="typens:getAllMovieCategoriesResponse"/>
		</operation>
		<operation name="getAllSettings">
			<documentation>
				Get all Settings objects in VCD-db.
			</documentation>
			<input message="typens:getAllSettings"/>
			<output message="typens:getAllSettingsResponse"/>
		</operation>
		<operation name="getBorrowerByID">
			<documentation>
				Get a specific borrower object by the object ID.
			</documentation>
			<input message="typens:getBorrowerByID"/>
			<output message="typens:getBorrowerByIDResponse"/>
		</operation>
		<operation name="getBorrowersByUserID">
			<documentation>
				Get all the borrower objects created by a specific User.
			</documentation>
			<input message="typens:getBorrowersByUserID"/>
			<output message="typens:getBorrowersByUserIDResponse"/>
		</operation>
		<operation name="getCategoriesInUseByUserID">
			<documentation>
				Get all movieCategory objects in use by specific User ID.
			</documentation>
			<input message="typens:getCategoriesInUseByUserID"/>
			<output message="typens:getCategoriesInUseByUserIDResponse"/>
		</operation>
		<operation name="getCategoryIDByName">
			<documentation>
				Get the ID of a specific movieCategory object by using its name as identifier.
			</documentation>
			<input message="typens:getCategoryIDByName"/>
			<output message="typens:getCategoryIDByNameResponse"/>
		</operation>
		<operation name="getCommentByID">
			<documentation>
				Get a specific comment by ID.
			</documentation>
			<input message="typens:getCommentByID"/>
			<output message="typens:getCommentByIDResponse"/>
		</operation>
		<operation name="getLoans">
			<documentation>
				Get all the loan objects belonging to a specific VCD-db User.
			</documentation>
			<input message="typens:getLoans"/>
			<output message="typens:getLoansResponse"/>
		</operation>
		<operation name="getLoansByBorrowerID">
			<documentation>
				Get all loan entries by a specific borrower.
			</documentation>
			<input message="typens:getLoansByBorrowerID"/>
			<output message="typens:getLoansByBorrowerIDResponse"/>
		</operation>
		<operation name="getMediaCountByCategory">
			<documentation>
				Get the count of media's in the specified movie category
			</documentation>
			<input message="typens:getMediaCountByCategory"/>
			<output message="typens:getMediaCountByCategoryResponse"/>
		</operation>
		<operation name="getMediaCountByCategoryAndUserID">
			<documentation>
				Get the movie count of all movies belonging to a specific category.
			</documentation>
			<input message="typens:getMediaCountByCategoryAndUserID"/>
			<output message="typens:getMediaCountByCategoryAndUserIDResponse"/>
		</operation>
		<operation name="getMediaTypeByID">
			<documentation>
				Get specific mediaType object by ID.
			</documentation>
			<input message="typens:getMediaTypeByID"/>
			<output message="typens:getMediaTypeByIDResponse"/>
		</operation>
		<operation name="getMediaTypeByName">
			<documentation>
				Get a specific mediaType object by it's name.
			</documentation>
			<input message="typens:getMediaTypeByName"/>
			<output message="typens:getMediaTypeByNameResponse"/>
		</operation>
		<operation name="getMediaTypesInUse">
			<documentation>
				Get all media types that are being used by the system
			</documentation>
			<input message="typens:getMediaTypesInUse"/>
			<output message="typens:getMediaTypesInUseResponse"/>
		</operation>
		<operation name="getMediaTypesInUseByUserID">
			<documentation>
				Get collection of mediatype objects that user uses in all his movies.
			</documentation>
			<input message="typens:getMediaTypesInUseByUserID"/>
			<output message="typens:getMediaTypesInUseByUserIDResponse"/>
		</operation>
		<operation name="getMediaTypesOnCD">
			<documentation>
				Get all mediatype objects that are available on the specified movie object.
			</documentation>
			<input message="typens:getMediaTypesOnCD"/>
			<output message="typens:getMediaTypesOnCDResponse"/>
		</operation>
		<operation name="getMetadata">
			<documentation>
				Get metadata based on param conditions.
			</documentation>
			<input message="typens:getMetadata"/>
			<output message="typens:getMetadataResponse"/>
		</operation>
		<operation name="getMetadataById">
			<documentation>
				Get metadataObj by ID
			</documentation>
			<input message="typens:getMetadataById"/>
			<output message="typens:getMetadataByIdResponse"/>
		</operation>
		<operation name="getMetadataTypes">
			<documentation>
				Get all known metadatatypes from database.
			</documentation>
			<input message="typens:getMetadataTypes"/>
			<output message="typens:getMetadataTypesResponse"/>
		</operation>
		<operation name="getMovieCategoriesInUse">
			<documentation>
				Get collection of all movieCategory objects that are in use in VCD-db.
			</documentation>
			<input message="typens:getMovieCategoriesInUse"/>
			<output message="typens:getMovieCategoriesInUseResponse"/>
		</operation>
		<operation name="getMovieCategoryByID">
			<documentation>
				Get a specific movieCategory object by category ID.
			</documentation>
			<input message="typens:getMovieCategoryByID"/>
			<output message="typens:getMovieCategoryByIDResponse"/>
		</operation>
		<operation name="getRecordIDsByMetadata">
			<documentation>
				Get all record ID's (movie ID's) that exist with association to a specific metadata name and User ID.
			</documentation>
			<input message="typens:getRecordIDsByMetadata"/>
			<output message="typens:getRecordIDsByMetadataResponse"/>
		</operation>
		<operation name="getRssfeed">
			<documentation>
				Get specific Rss feed by the feed ID.
			</documentation>
			<input message="typens:getRssfeed"/>
			<output message="typens:getRssfeedResponse"/>
		</operation>
		<operation name="getRssFeedsByUserId">
			<documentation>
				Get All Rss Feeds that belong to specific User.
			</documentation>
			<input message="typens:getRssFeedsByUserId"/>
			<output message="typens:getRssFeedsByUserIdResponse"/>
		</operation>
		<operation name="getSettingsByID">
			<documentation>
				Get specific settings object by ID.
			</documentation>
			<input message="typens:getSettingsByID"/>
			<output message="typens:getSettingsByIDResponse"/>
		</operation>
		<operation name="getSettingsByKey">
			<documentation>
				Get specific settings string by key.
			</documentation>
			<input message="typens:getSettingsByKey"/>
			<output message="typens:getSettingsByKeyResponse"/>
		</operation>
		<operation name="getSourceSiteByAlias">
			<documentation>
				Get specific sourceSite object by the sourcesite Alias.
			</documentation>
			<input message="typens:getSourceSiteByAlias"/>
			<output message="typens:getSourceSiteByAliasResponse"/>
		</operation>
		<operation name="getSourceSiteByID">
			<documentation>
				Get specific sourceSite object by ID.
			</documentation>
			<input message="typens:getSourceSiteByID"/>
			<output message="typens:getSourceSiteByIDResponse"/>
		</operation>
		<operation name="getSourceSites">
			<documentation>
				Get all sourcesite objects in VCD-db.
			</documentation>
			<input message="typens:getSourceSites"/>
			<output message="typens:getSourceSitesResponse"/>
		</operation>
		<operation name="getStatsObj">
			<documentation>
				Get the statistics object.
			</documentation>
			<input message="typens:getStatsObj"/>
			<output message="typens:getStatsObjResponse"/>
		</operation>
		<operation name="getUserStatistics">
			<documentation>
				Get statistics by a specified user ID.
			</documentation>
			<input message="typens:getUserStatistics"/>
			<output message="typens:getUserStatisticsResponse"/>
		</operation>
		<operation name="getWishList">
			<documentation>
				Get a wishlist by User ID.
			</documentation>
			<input message="typens:getWishList"/>
			<output message="typens:getWishListResponse"/>
		</operation>
		<operation name="isOnWishList">
			<documentation>
				Check is a specified movie is on users wishlist.
			</documentation>
			<input message="typens:isOnWishList"/>
			<output message="typens:isOnWishListResponse"/>
		</operation>
		<operation name="isPublicWishLists">
			<documentation>
				Check if the users wishlist is public
			</documentation>
			<input message="typens:isPublicWishLists"/>
			<output message="typens:isPublicWishListsResponse"/>
		</operation>
		<operation name="loanCDs">
			<documentation>
				Flag specific movies as loaned in the loan system.
			</documentation>
			<input message="typens:loanCDs"/>
			<output message="typens:loanCDsResponse"/>
		</operation>
		<operation name="loanReturn">
			<documentation>
				Returns a specific movie from a loan, using the ID of the loan entry.
			</documentation>
			<input message="typens:loanReturn"/>
			<output message="typens:loanReturnResponse"/>
		</operation>
		<operation name="removeFromWishList">
			<documentation>
				Remove a movie from users wishlist.
			</documentation>
			<input message="typens:removeFromWishList"/>
			<output message="typens:removeFromWishListResponse"/>
		</operation>
		<operation name="updateBorrower">
			<documentation>
				Update a borrower object.
			</documentation>
			<input message="typens:updateBorrower"/>
			<output message="typens:updateBorrowerResponse"/>
		</operation>
		<operation name="updateMediaType">
			<documentation>
				Update a specific mediaType object in VCD-db.
			</documentation>
			<input message="typens:updateMediaType"/>
			<output message="typens:updateMediaTypeResponse"/>
		</operation>
		<operation name="updateMetadata">
			<documentation>
				Update a specific metadata.
			</documentation>
			<input message="typens:updateMetadata"/>
			<output message="typens:updateMetadataResponse"/>
		</operation>
		<operation name="updateMovieCategory">
			<documentation>
				Update a movieCategory object in VCD-db.
			</documentation>
			<input message="typens:updateMovieCategory"/>
			<output message="typens:updateMovieCategoryResponse"/>
		</operation>
		<operation name="updateRssfeed">
			<documentation>
				Update a specific Rss feed.
			</documentation>
			<input message="typens:updateRssfeed"/>
			<output message="typens:updateRssfeedResponse"/>
		</operation>
		<operation name="updateSettings">
			<documentation>
				Update specific settings object.
			</documentation>
			<input message="typens:updateSettings"/>
			<output message="typens:updateSettingsResponse"/>
		</operation>
		<operation name="updateSourceSite">
			<documentation>
				Update a specific sourceSite object.
			</documentation>
			<input message="typens:updateSourceSite"/>
			<output message="typens:updateSourceSiteResponse"/>
		</operation>
		
		<operation name="getCategoryIDByItemId">
			<documentation>
				Get category id by itemId.
			</documentation>
			<input message="typens:getCategoryIDByItemId"/>
			<output message="typens:getCategoryIDByItemIdResponse"/>
		</operation>
		
	</portType>
	<binding name="SettingsServicesBinding" type="typens:SettingsServicesPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="addBorrower">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="addComment">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="addMediaType">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="addMetadata">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="addMetadataType">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="addMovieCategory">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="addRssfeed">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="addSettings">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="addSourceSite">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="addToWishList">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="deleteBorrower">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="deleteComment">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="deleteMediaType">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="deleteMetadata">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="deleteMetaDataType">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="deleteMovieCategory">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="deleteNFO">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="deleteSettings">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="deleteSourceSite">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="delFeed">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getAllCommentsByUserID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getAllCommentsByVCD">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getAllMediatypes">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getAllMovieCategories">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getAllSettings">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getBorrowerByID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getBorrowersByUserID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getCategoriesInUseByUserID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getCategoryIDByName">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getCommentByID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getLoans">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getLoansByBorrowerID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMediaCountByCategory">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMediaCountByCategoryAndUserID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMediaTypeByID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMediaTypeByName">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMediaTypesInUse">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMediaTypesInUseByUserID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMediaTypesOnCD">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMetadata">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMetadataById">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMetadataTypes">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMovieCategoriesInUse">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getMovieCategoryByID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getRecordIDsByMetadata">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getRssfeed">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getRssFeedsByUserId">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getSettingsByID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getSettingsByKey">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getSourceSiteByAlias">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getSourceSiteByID">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getSourceSites">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getStatsObj">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getUserStatistics">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="getWishList">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="isOnWishList">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="isPublicWishLists">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="loanCDs">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="loanReturn">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="removeFromWishList">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="updateBorrower">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="updateMediaType">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="updateMetadata">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="updateMovieCategory">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="updateRssfeed">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="updateSettings">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		<operation name="updateSourceSite">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		
		<operation name="getCategoryIDByItemId">
			<soap:operation soapAction="urn:SettingsServicesAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http://vcddb.konni.com"/>
			</output>
		</operation>
		
	</binding>
	<service name="SettingsService">
		<port name="SettingsServicesPort" binding="typens:SettingsServicesBinding">
			<soap:address location="http://tempuri"/>
		</port>
	</service>
</wsdl:definitions>
