includes/wsdl/vcddb-cover.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="http://vcddb.konni.com" 
	targetNamespace="urn:http://vcddb.konni.com" 
	xmlns:typens="urn:http://vcddb.konni.com" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:http://vcddb.konni.com">
		<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 		<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
	 		<xsd:complexType name="ArrayOfString">
				  <xsd:complexContent>
					   <xsd:restriction base="SOAP-ENC:Array">
					    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="string[]"/>
					   </xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfDecimal">
			  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="decimal[]"/>
				   </xsd:restriction>
			</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="cdcoverObj">
				<xsd:all>
					<xsd:element name="cover_id" type="xsd:decimal"/>
					<xsd:element name="covertype_id" type="xsd:decimal"/>
					<xsd:element name="coverTypeDescription" type="xsd:string"/>
					<xsd:element name="covertypeName" type="xsd:string"/>
					<xsd:element name="date_added" type="xsd:string"/>
					<xsd:element name="filename" type="xsd:string"/>
					<xsd:element name="filesize" type="xsd:double"/>
					<xsd:element name="image_id" type="xsd:decimal"/>
					<xsd:element name="owner_id" type="xsd:decimal"/>
					<xsd:element name="vcd_id" type="xsd:decimal"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfCdcoverObj">
				  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:cdcoverObj[]"/>
				   </xsd:restriction>
				  </xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="cdcoverTypeObj">
				<xsd:all>
					<xsd:element name="covertype_id" type="xsd:decimal"/>
					<xsd:element name="coverTypeDescription" type="xsd:string"/>
					<xsd:element name="covertypeName" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfCdcoverTypeObj">
				  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:cdcoverTypeObj[]"/>
				   </xsd:restriction>
				  </xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="mediaTypeObj">
				<xsd:all>
					<xsd:element name="children" type="typens:ArrayOfMediaTypeObj"/>
					<xsd:element name="media_type_description" type="xsd:string"/>
					<xsd:element name="media_type_id" type="xsd:decimal"/>
					<xsd:element name="media_type_name" type="xsd:string"/>
					<xsd:element name="parent_id" type="xsd:decimal"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfMediaTypeObj">
				  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:mediaTypeObj[]"/>
				   </xsd:restriction>
				  </xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="addCover">
		<part name="obj" type="typens:cdcoverObj"/>
	</message>
	<message name="addCoverResponse"/>
	<message name="addCoverType">
		<part name="obj" type="typens:cdcoverTypeObj"/>
	</message>
	<message name="addCoverTypeResponse"/>
	<message name="addCoverTypesToMedia">
		<part name="mediaTypeID" type="xsd:decimal"/>
		<part name="coverTypeIDArr" type="typens:ArrayOfDecimal"/>
	</message>
	<message name="addCoverTypesToMediaResponse"/>
	<message name="deleteCover">
		<part name="cover_id" type="xsd:decimal"/>
	</message>
	<message name="deleteCoverResponse"/>
	<message name="deleteCoverType">
		<part name="type_id" type="xsd:decimal"/>
	</message>
	<message name="deleteCoverTypeResponse"/>
	<message name="getAllCovers"/>
	<message name="getAllCoversResponse">
		<part name="getAllCoversReturn" type="typens:ArrayOfCdcoverObj"/>
	</message>
	<message name="getAllCoversForVcd">
		<part name="vcd_id" type="xsd:decimal"/>
	</message>
	<message name="getAllCoversForVcdResponse">
		<part name="getAllCoversForVcdReturn" type="typens:ArrayOfCdcoverObj"/>
	</message>
	<message name="getAllCoverTypes"/>
	<message name="getAllCoverTypesResponse">
		<part name="getAllCoverTypesReturn" type="typens:ArrayOfCdcoverTypeObj"/>
	</message>
	<message name="getAllCoverTypesForVcd">
		<part name="mediatype_id" type="xsd:decimal"/>
	</message>
	<message name="getAllCoverTypesForVcdResponse">
		<part name="getAllCoverTypesForVcdReturn" type="typens:ArrayOfCdcoverTypeObj"/>
	</message>
	<message name="getAllowedCoversForVcd">
		<part name="mediaTypeObjArr" type="typens:ArrayOfMediaTypeObj"/>
	</message>
	<message name="getAllowedCoversForVcdResponse">
		<part name="getAllowedCoversForVcdReturn" type="typens:ArrayOfCdcoverTypeObj"/>
	</message>
	<message name="getAllThumbnailsForXMLExport">
		<part name="user_id" type="xsd:decimal"/>
	</message>
	<message name="getAllThumbnailsForXMLExportResponse">
		<part name="getAllThumbnailsForXMLExportReturn" type="typens:ArrayOfCdcoverObj"/>
	</message>
	<message name="getCDcoverTypesOnMediaType">
		<part name="mediaType_id" type="xsd:decimal"/>
	</message>
	<message name="getCDcoverTypesOnMediaTypeResponse">
		<part name="getCDcoverTypesOnMediaTypeReturn" type="typens:ArrayOfCdcoverTypeObj"/>
	</message>
	<message name="getCoverById">
		<part name="cover_id" type="xsd:decimal"/>
	</message>
	<message name="getCoverByIdResponse">
		<part name="getCoverByIdReturn" type="typens:cdcoverObj"/>
	</message>
	<message name="getCoverTypeById">
		<part name="covertype_id" type="xsd:decimal"/>
	</message>
	<message name="getCoverTypeByIdResponse">
		<part name="getCoverTypeByIdReturn" type="typens:cdcoverTypeObj"/>
	</message>
	<message name="getCoverTypeByName">
		<part name="name" type="xsd:string"/>
	</message>
	<message name="getCoverTypeByNameResponse">
		<part name="getCoverTypeByNameReturn" type="typens:cdcoverTypeObj"/>
	</message>
	<message name="moveCoversToDatabase"/>
	<message name="moveCoversToDatabaseResponse">
		<part name="moveCoversToDatabaseReturn" type="xsd:decimal"/>
	</message>
	<message name="moveCoversToDisk"/>
	<message name="moveCoversToDiskResponse">
		<part name="moveCoversToDiskReturn" type="xsd:decimal"/>
	</message>
	<message name="updateCover">
		<part name="obj" type="typens:cdcoverObj"/>
	</message>
	<message name="updateCoverResponse"/>
	<message name="updateCoverType">
		<part name="obj" type="typens:cdcoverTypeObj"/>
	</message>
	<message name="updateCoverTypeResponse"/>
	<portType name="CoverServicesPortType">
		<documentation>
			Provide the Web UI access to the Cover Services.
		</documentation>
		<operation name="addCover">
			<documentation>
				Add a new cover to VCD-db
			</documentation>
			<input message="typens:addCover"/>
			<output message="typens:addCoverResponse"/>
		</operation>
		<operation name="addCoverType">
			<documentation>
				Add a new coverType object
			</documentation>
			<input message="typens:addCoverType"/>
			<output message="typens:addCoverTypeResponse"/>
		</operation>
		<operation name="addCoverTypesToMedia">
			<documentation>
				Assign a new coverType object to a specified mediaType.
			</documentation>
			<input message="typens:addCoverTypesToMedia"/>
			<output message="typens:addCoverTypesToMediaResponse"/>
		</operation>
		<operation name="deleteCover">
			<documentation>
				Delete a specific cover from VCD-db
			</documentation>
			<input message="typens:deleteCover"/>
			<output message="typens:deleteCoverResponse"/>
		</operation>
		<operation name="deleteCoverType">
			<documentation>
				Delete a specific cover type object
			</documentation>
			<input message="typens:deleteCoverType"/>
			<output message="typens:deleteCoverTypeResponse"/>
		</operation>
		<operation name="getAllCovers">
			<documentation>
				Get all Covers stored in VCD-db.
			</documentation>
			<input message="typens:getAllCovers"/>
			<output message="typens:getAllCoversResponse"/>
		</operation>
		<operation name="getAllCoversForVcd">
			<documentation>
				Get all cover objects that belong to a specified movie, returns array of cdcover objects
			</documentation>
			<input message="typens:getAllCoversForVcd"/>
			<output message="typens:getAllCoversForVcdResponse"/>
		</operation>
		<operation name="getAllCoverTypes">
			<documentation>
				Get all cover types in VCD-db, returns array of coverType objects
			</documentation>
			<input message="typens:getAllCoverTypes"/>
			<output message="typens:getAllCoverTypesResponse"/>
		</operation>
		<operation name="getAllCoverTypesForVcd">
			<documentation>
				Get all coverTypes used by this specific movie, returns array of coverType objects
			</documentation>
			<input message="typens:getAllCoverTypesForVcd"/>
			<output message="typens:getAllCoverTypesForVcdResponse"/>
		</operation>
		<operation name="getAllowedCoversForVcd">
			<documentation>
				Get all cdcoverType objects associated with incoming mediaType objects.
			</documentation>
			<input message="typens:getAllowedCoversForVcd"/>
			<output message="typens:getAllowedCoversForVcdResponse"/>
		</operation>
		<operation name="getAllThumbnailsForXMLExport">
			<documentation>
				Get all thumbnails that the specified user has created in VCD-db, returns array of cdcover objects.
			</documentation>
			<input message="typens:getAllThumbnailsForXMLExport"/>
			<output message="typens:getAllThumbnailsForXMLExportResponse"/>
		</operation>
		<operation name="getCDcoverTypesOnMediaType">
			<documentation>
				Get All coverType associated with the specified mediaType ID, returns array of cdcoverType objects.
			</documentation>
			<input message="typens:getCDcoverTypesOnMediaType"/>
			<output message="typens:getCDcoverTypesOnMediaTypeResponse"/>
		</operation>
		<operation name="getCoverById">
			<documentation>
				The a specific cover by ID
			</documentation>
			<input message="typens:getCoverById"/>
			<output message="typens:getCoverByIdResponse"/>
		</operation>
		<operation name="getCoverTypeById">
			<documentation>
				Get coverType object by ID
			</documentation>
			<input message="typens:getCoverTypeById"/>
			<output message="typens:getCoverTypeByIdResponse"/>
		</operation>
		<operation name="getCoverTypeByName">
			<documentation>
				Get coverType object by Name
			</documentation>
			<input message="typens:getCoverTypeByName"/>
			<output message="typens:getCoverTypeByNameResponse"/>
		</operation>
		<operation name="moveCoversToDatabase">
			<documentation>
				Move all CD-covers in VCD-db from harddrive to database
			</documentation>
			<input message="typens:moveCoversToDatabase"/>
			<output message="typens:moveCoversToDatabaseResponse"/>
		</operation>
		<operation name="moveCoversToDisk">
			<documentation>
				Move all CD-covers in VCD-db from database to harddrive
			</documentation>
			<input message="typens:moveCoversToDisk"/>
			<output message="typens:moveCoversToDiskResponse"/>
		</operation>
		<operation name="updateCover">
			<documentation>
				Update cover object
			</documentation>
			<input message="typens:updateCover"/>
			<output message="typens:updateCoverResponse"/>
		</operation>
		<operation name="updateCoverType">
			<documentation>
				Update specific coverType object
			</documentation>
			<input message="typens:updateCoverType"/>
			<output message="typens:updateCoverTypeResponse"/>
		</operation>
	</portType>
	<binding name="CoverServicesBinding" type="typens:CoverServicesPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="addCover">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addCoverType">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addCoverTypesToMedia">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteCover">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteCoverType">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllCovers">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllCoversForVcd">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllCoverTypes">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllCoverTypesForVcd">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllowedCoversForVcd">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllThumbnailsForXMLExport">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getCDcoverTypesOnMediaType">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getCoverById">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getCoverTypeById">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getCoverTypeByName">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="moveCoversToDatabase">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="moveCoversToDisk">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateCover">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateCoverType">
			<soap:operation soapAction="urn:CoverServicesAction"/>
			<input>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="CoverService">
		<port name="CoverServicesPort" binding="typens:CoverServicesBinding">
			<soap:address location="http://tempuri"/>
		</port>
	</service>
</definitions>
