includes/wsdl/vcddb-pornstar.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<definitions name="http://vcddb.konni.com" 
	targetNamespace="urn:http://vcddb.konni.com" 
	xmlns:typens="urn:http://vcddb.konni.com" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:http://vcddb.konni.com">
		<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 		<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 			<xsd:complexType name="ArrayOfString">
			  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="string[]"/>
				   </xsd:restriction>
			</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="porncategoryObj">
				<xsd:all>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element name="name" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfPorncategoryObj">
				  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:porncategoryObj[]"/>
				   </xsd:restriction>
				  </xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="pornstarObj">
				<xsd:all>
					<xsd:element name="biography" type="xsd:string"/>
					<xsd:element name="homepage" type="xsd:string"/>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element name="image" type="xsd:string"/>
					<xsd:element name="movie_count" type="xsd:string"/>
					<xsd:element name="movies" type="typens:ArrayOfString"/>
					<xsd:element name="name" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfPornstarObj">
				  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:pornstarObj[]"/>
				   </xsd:restriction>
				  </xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="studioObj">
				<xsd:all>
					<xsd:element name="id" type="xsd:decimal"/>
					<xsd:element name="name" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfStudioObj">
				  <xsd:complexContent>
				   <xsd:restriction base="SOAP-ENC:Array">
				    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="typens:studioObj[]"/>
				   </xsd:restriction>
				  </xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="addAdultCategory">
		<part name="obj" type="typens:porncategoryObj"/>
	</message>
	<message name="addAdultCategoryResponse"/>
	<message name="addCategoryToMovie">
		<part name="vcd_id" type="xsd:decimal"/>
		<part name="category_id" type="xsd:decimal"/>
	</message>
	<message name="addCategoryToMovieResponse"/>
	<message name="addMovieToStudio">
		<part name="studio_id" type="xsd:decimal"/>
		<part name="vcd_id" type="xsd:decimal"/>
	</message>
	<message name="addMovieToStudioResponse"/>
	<message name="addPornstar">
		<part name="obj" type="typens:pornstarObj"/>
	</message>
	<message name="addPornstarResponse">
		<part name="addPornstarReturn" type="typens:pornstarObj"/>
	</message>
	<message name="addPornstarToMovie">
		<part name="pornstar_id" type="xsd:decimal"/>
		<part name="movie_id" type="xsd:decimal"/>
	</message>
	<message name="addPornstarToMovieResponse"/>
	<message name="addStudio">
		<part name="obj" type="typens:studioObj"/>
	</message>
	<message name="addStudioResponse"/>
	<message name="deleteAdultCategory">
		<part name="category_id" type="xsd:decimal"/>
	</message>
	<message name="deleteAdultCategoryResponse"/>
	<message name="deleteMovieFromCategories">
		<part name="vcd_id" type="xsd:decimal"/>
	</message>
	<message name="deleteMovieFromCategoriesResponse"/>
	<message name="deleteMovieFromStudio">
		<part name="vcd_id" type="xsd:decimal"/>
	</message>
	<message name="deleteMovieFromStudioResponse"/>
	<message name="deletePornstar">
		<part name="pornstar_id" type="xsd:decimal"/>
	</message>
	<message name="deletePornstarResponse">
		<part name="deletePornstarReturn" type="xsd:anyType"/>
	</message>
	<message name="deletePornstarFromMovie">
		<part name="pornstar_id" type="xsd:decimal"/>
		<part name="movie_id" type="xsd:decimal"/>
	</message>
	<message name="deletePornstarFromMovieResponse"/>
	<message name="deleteStudio">
		<part name="studio_id" type="xsd:decimal"/>
	</message>
	<message name="deleteStudioResponse"/>
	<message name="getAllPornstars"/>
	<message name="getAllPornstarsResponse">
		<part name="getAllPornstarsReturn" type="typens:ArrayOfPornstarObj"/>
	</message>
	<message name="getAllStudios"/>
	<message name="getAllStudiosResponse">
		<part name="getAllStudiosReturn" type="typens:ArrayOfStudioObj"/>
	</message>
	<message name="getPornstarByID">
		<part name="pornstar_id" type="xsd:decimal"/>
	</message>
	<message name="getPornstarByIDResponse">
		<part name="getPornstarByIDReturn" type="typens:pornstarObj"/>
	</message>
	<message name="getPornstarByName">
		<part name="name" type="xsd:string"/>
	</message>
	<message name="getPornstarByNameResponse">
		<part name="getPornstarByNameReturn" type="typens:pornstarObj"/>
	</message>
	<message name="getPornstarsAlphabet">
		<part name="active_only" type="xsd:boolean"/>
	</message>
	<message name="getPornstarsAlphabetResponse">
		<part name="getPornstarsAlphabetReturn" type="typens:ArrayOfString"/>
	</message>
	<message name="getPornstarsByLetter">
		<part name="letter" type="xsd:string"/>
		<part name="active_only" type="xsd:boolean"/>
	</message>
	<message name="getPornstarsByLetterResponse">
		<part name="getPornstarsByLetterReturn" type="typens:ArrayOfPornstarObj"/>
	</message>
	<message name="getPornstarsByMovieID">
		<part name="movie_id" type="xsd:decimal"/>
	</message>
	<message name="getPornstarsByMovieIDResponse">
		<part name="getPornstarsByMovieIDReturn" type="typens:ArrayOfPornstarObj"/>
	</message>
	<message name="getStudioByID">
		<part name="studio_id" type="xsd:decimal"/>
	</message>
	<message name="getStudioByIDResponse">
		<part name="getStudioByIDReturn" type="typens:studioObj"/>
	</message>
	<message name="getStudioByMovieID">
		<part name="vcd_id" type="xsd:decimal"/>
	</message>
	<message name="getStudioByMovieIDResponse">
		<part name="getStudioByMovieIDReturn" type="typens:studioObj"/>
	</message>
	<message name="getStudioByName">
		<part name="studio_name" type="xsd:string"/>
	</message>
	<message name="getStudioByNameResponse">
		<part name="getStudioByNameReturn" type="typens:studioObj"/>
	</message>
	<message name="getStudiosInUse"/>
	<message name="getStudiosInUseResponse">
		<part name="getStudiosInUseReturn" type="typens:ArrayOfStudioObj"/>
	</message>
	<message name="getSubCategories"/>
	<message name="getSubCategoriesResponse">
		<part name="getSubCategoriesReturn" type="typens:ArrayOfPorncategoryObj"/>
	</message>
	<message name="getSubCategoriesByMovieID">
		<part name="vcd_id" type="xsd:decimal"/>
	</message>
	<message name="getSubCategoriesByMovieIDResponse">
		<part name="getSubCategoriesByMovieIDReturn" type="typens:ArrayOfPorncategoryObj"/>
	</message>
	<message name="getSubCategoriesInUse"/>
	<message name="getSubCategoriesInUseResponse">
		<part name="getSubCategoriesInUseReturn" type="typens:ArrayOfPorncategoryObj"/>
	</message>
	<message name="getSubCategoryByID">
		<part name="category_id" type="xsd:decimal"/>
	</message>
	<message name="getSubCategoryByIDResponse">
		<part name="getSubCategoryByIDReturn" type="typens:porncategoryObj"/>
	</message>
	<message name="getValidCategories">
		<part name="arrCategoryNames" type="typens:ArrayOfString"/>
	</message>
	<message name="getValidCategoriesResponse">
		<part name="getValidCategoriesReturn" type="typens:ArrayOfPorncategoryObj"/>
	</message>
	<message name="updatePornstar">
		<part name="obj" type="typens:pornstarObj"/>
	</message>
	<message name="updatePornstarResponse"/>
	<portType name="PornstarServicesPortType">
		<documentation>
			Provide the Web UI access to the Pornstar Services.
		</documentation>
		<operation name="addAdultCategory">
			<documentation>
				Add new porncategory object to VCD-db
			</documentation>
			<input message="typens:addAdultCategory"/>
			<output message="typens:addAdultCategoryResponse"/>
		</operation>
		<operation name="addCategoryToMovie">
			<documentation>
				Assign movie to a specific adult category.
			</documentation>
			<input message="typens:addCategoryToMovie"/>
			<output message="typens:addCategoryToMovieResponse"/>
		</operation>
		<operation name="addMovieToStudio">
			<documentation>
				Assign movie to studio object.
			</documentation>
			<input message="typens:addMovieToStudio"/>
			<output message="typens:addMovieToStudioResponse"/>
		</operation>
		<operation name="addPornstar">
			<documentation>
				Add a new pornstar to VCD-db.
			</documentation>
			<input message="typens:addPornstar"/>
			<output message="typens:addPornstarResponse"/>
		</operation>
		<operation name="addPornstarToMovie">
			<documentation>
				Add pornstar to the cast list of a specific movie.
			</documentation>
			<input message="typens:addPornstarToMovie"/>
			<output message="typens:addPornstarToMovieResponse"/>
		</operation>
		<operation name="addStudio">
			<documentation>
				Add new studio object to VCD-db
			</documentation>
			<input message="typens:addStudio"/>
			<output message="typens:addStudioResponse"/>
		</operation>
		<operation name="deleteAdultCategory">
			<documentation>
				Delete a specific adult category object from VCD-db.
			</documentation>
			<input message="typens:deleteAdultCategory"/>
			<output message="typens:deleteAdultCategoryResponse"/>
		</operation>
		<operation name="deleteMovieFromCategories">
			<documentation>
				Remove all adult categories from the specific movie object.
			</documentation>
			<input message="typens:deleteMovieFromCategories"/>
			<output message="typens:deleteMovieFromCategoriesResponse"/>
		</operation>
		<operation name="deleteMovieFromStudio">
			<documentation>
				Remove studio assignment from a movie.
			</documentation>
			<input message="typens:deleteMovieFromStudio"/>
			<output message="typens:deleteMovieFromStudioResponse"/>
		</operation>
		<operation name="deletePornstar">
			<documentation>
				Delete pornstar from VCD-db, return true if operation secceds otherwise false.
			</documentation>
			<input message="typens:deletePornstar"/>
			<output message="typens:deletePornstarResponse"/>
		</operation>
		<operation name="deletePornstarFromMovie">
			<documentation>
				Delete pornstar from the cast list of a movie.
			</documentation>
			<input message="typens:deletePornstarFromMovie"/>
			<output message="typens:deletePornstarFromMovieResponse"/>
		</operation>
		<operation name="deleteStudio">
			<documentation>
				Delete a studio object from VCD-db
			</documentation>
			<input message="typens:deleteStudio"/>
			<output message="typens:deleteStudioResponse"/>
		</operation>
		<operation name="getAllPornstars">
			<documentation>
				Get all pornstars in VCD-db, returns array of pornstar objects
			</documentation>
			<input message="typens:getAllPornstars"/>
			<output message="typens:getAllPornstarsResponse"/>
		</operation>
		<operation name="getAllStudios">
			<documentation>
				Get all adult studios.
			</documentation>
			<input message="typens:getAllStudios"/>
			<output message="typens:getAllStudiosResponse"/>
		</operation>
		<operation name="getPornstarByID">
			<documentation>
				Get a pornstar object by ID
			</documentation>
			<input message="typens:getPornstarByID"/>
			<output message="typens:getPornstarByIDResponse"/>
		</operation>
		<operation name="getPornstarByName">
			<documentation>
				Get a pornstar object by the pornstar Name
			</documentation>
			<input message="typens:getPornstarByName"/>
			<output message="typens:getPornstarByNameResponse"/>
		</operation>
		<operation name="getPornstarsAlphabet">
			<documentation>
				Get the alphabet entries of the first letter of pornstar names.
			</documentation>
			<input message="typens:getPornstarsAlphabet"/>
			<output message="typens:getPornstarsAlphabetResponse"/>
		</operation>
		<operation name="getPornstarsByLetter">
			<documentation>
				Get pornstars that start with the specified letter in the alphabet.
			</documentation>
			<input message="typens:getPornstarsByLetter"/>
			<output message="typens:getPornstarsByLetterResponse"/>
		</operation>
		<operation name="getPornstarsByMovieID">
			<documentation>
				Get all pornstars that have been added to the cast list of a specific movie,
returns array of pornstar objects.
			</documentation>
			<input message="typens:getPornstarsByMovieID"/>
			<output message="typens:getPornstarsByMovieIDResponse"/>
		</operation>
		<operation name="getStudioByID">
			<documentation>
				Get a specific studio object by ID.
			</documentation>
			<input message="typens:getStudioByID"/>
			<output message="typens:getStudioByIDResponse"/>
		</operation>
		<operation name="getStudioByMovieID">
			<documentation>
				Get the studio object that has been assigned to the specified movie.
			</documentation>
			<input message="typens:getStudioByMovieID"/>
			<output message="typens:getStudioByMovieIDResponse"/>
		</operation>
		<operation name="getStudioByName">
			<documentation>
				Get a specific studio object by studio name.
			</documentation>
			<input message="typens:getStudioByName"/>
			<output message="typens:getStudioByNameResponse"/>
		</operation>
		<operation name="getStudiosInUse">
			<documentation>
				Get a list of all the studios that are at least assigned to 1 movie.
			</documentation>
			<input message="typens:getStudiosInUse"/>
			<output message="typens:getStudiosInUseResponse"/>
		</operation>
		<operation name="getSubCategories">
			<documentation>
				Get all pornacategories, returns array of porncategory objects.
			</documentation>
			<input message="typens:getSubCategories"/>
			<output message="typens:getSubCategoriesResponse"/>
		</operation>
		<operation name="getSubCategoriesByMovieID">
			<documentation>
				Get all porncategories that have been assigned to a specific movie.
			</documentation>
			<input message="typens:getSubCategoriesByMovieID"/>
			<output message="typens:getSubCategoriesByMovieIDResponse"/>
		</operation>
		<operation name="getSubCategoriesInUse">
			<documentation>
				Get all porncategory objects that are at least used once by any movie.
			</documentation>
			<input message="typens:getSubCategoriesInUse"/>
			<output message="typens:getSubCategoriesInUseResponse"/>
		</operation>
		<operation name="getSubCategoryByID">
			<documentation>
				Get a specific porncategory object by ID.
			</documentation>
			<input message="typens:getSubCategoryByID"/>
			<output message="typens:getSubCategoryByIDResponse"/>
		</operation>
		<operation name="getValidCategories">
			<documentation>
				Searches in the names for the current adult categories, if a name is found in the incoming list
the porncategory match is pushed to the result array.
			</documentation>
			<input message="typens:getValidCategories"/>
			<output message="typens:getValidCategoriesResponse"/>
		</operation>
		<operation name="updatePornstar">
			<documentation>
				Update the specified pornstar object.
			</documentation>
			<input message="typens:updatePornstar"/>
			<output message="typens:updatePornstarResponse"/>
		</operation>
	</portType>
	<binding name="PornstarServicesBinding" type="typens:PornstarServicesPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="addAdultCategory">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addCategoryToMovie">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addMovieToStudio">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addPornstar">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addPornstarToMovie">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addStudio">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteAdultCategory">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteMovieFromCategories">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteMovieFromStudio">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletePornstar">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletePornstarFromMovie">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteStudio">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllPornstars">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllStudios">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getPornstarByID">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getPornstarByName">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getPornstarsAlphabet">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getPornstarsByLetter">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getPornstarsByMovieID">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getStudioByID">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getStudioByMovieID">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getStudioByName">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getStudiosInUse">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSubCategories">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSubCategoriesByMovieID">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSubCategoriesInUse">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSubCategoryByID">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getValidCategories">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatePornstar">
			<soap:operation soapAction="urn:PornstarServicesAction"/>
			<input>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:http://vcddb.konni.com" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="PornstarService">
		<port name="PornstarServicesPort" binding="typens:PornstarServicesBinding">
			<soap:address location="http://tempuri"/>
		</port>
	</service>
</definitions>
